<!-- <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand">
            <img src="../../../assets/imgs/Logo - Blanco.png" alt="" width="120px" height="60px" class="d-inline-block align-text-top">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="row">
                <div class="col">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" routerLink="/dashboard">DASHBOARD</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/usuarios">USUARIOS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/areas">AREAS</a>
                        </li>

                    </ul>
                </div>
                <div class="col" style="text-align: right; padding-left: 515px;">

                    <div class="d-flex">
                        <div class="dropdown">
                            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa-solid fa-user"></i> Usuario
                            </a>

                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <li>
                                    <a class="dropdown-item" href="#">
                                        <i class="fa-solid fa-power-off"></i> Cerrar seccion</a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>

            </div>


        </div>
    </div>
</nav> -->

<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand">
            <img src="../../../assets/imgs/Logo - Blanco.png" alt="" width="120px" height="60px" class="d-inline-block align-text-top">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="/dashboard">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/usuarios">Usuarios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/areas">Areas</a>
                </li>
                <li>
                    <div class="d-flex">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Usuario
              </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Cerrar Sección</a></li>
                            </ul>
                        </li>
                    </div>
                </li>
            </ul>

        </div>
    </div>
</nav>