<div class="container" style="text-align: right; padding-bottom: 20px;">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
      <i class="fa-solid fa-circle-plus"></i> Agregar Usuario
</button>

</div>

<div class="card " style="width: 67rem;">
    <div class="card-body table-responsive">
        <h2 class="card-title">Usuarios</h2>
        <div *ngIf="cargando && info.length>0" class="fa-3x" style="color: grey; text-align: center;">
            <i class="fa-solid fa-circle-notch fa-spin fa-2x"></i>
            <h4>Cargando informacion...</h4>
        </div>

        <div *ngIf="!cargando && info.length===0" style="color: grey; text-align: center;">
            <h4>No hay registros.</h4>
        </div>
        <div class="table-responsive" *ngIf="getUsuarios">
            <table class="table">
                <thead style="color: grey;">
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido</th>
                        <th scope="col">Fecha Nacimiento</th>
                        <th scope="col">Correo</th>
                        <th scope="col">N° Documento</th>
                        <th scope="col">Area</th>
                        <th scope="col">Salario</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Accion</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of info; let i=index">
                        <td>{{data.nombres}}</td>
                        <td>{{data.apellidos}}</td>
                        <td>{{data.fechaNacimiento| date}}</td>
                        <td>{{data.email}}</td>
                        <td>{{data.numDoc}}</td>
                        <td>{{getAreas(data.area)}}</td>
                        <td>{{data.salario | currency}}</td>
                        <td>
                            <div *ngIf="data.estado">
                                <span class="badge bg-success">Activo</span>
                            </div>
                            <div *ngIf="!data.estado">
                                <span class="badge bg-danger">Inactivo</span>
                            </div>
                        </td>
                        <td>
                            <button class="btn btn-warning" (click)="form(data)" data-bs-toggle="modal" data-bs-target="#actualizar">
                      <i class="fa-solid fa-pen-to-square"></i>
                    </button>
                            <button type="button" (click)="borrarUsuario(data, i)" class="btn btn-danger">
                      <i class="fa-solid fa-trash-can"></i>
                    </button>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>

    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form [formGroup]="formAdd" (submit)="guardar()">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Creacion de Usuarios</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Nombre</span>
                        <input type="text" formControlName="nombres" maxlength="50" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Apellido</span>
                        <input type="text" formControlName="apellidos" maxlength="50" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Fecha nacimiento</span>
                        <input class="form-control" formControlName="fechaNacimiento" type="date" id="example-date-input" />
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">email</span>
                        <input type="email" formControlName="email" maxlength="50" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">N° documento</span>
                        <input type="number" formControlName="numDoc" maxlength="7" min="0" max="9999999" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="inputGroupSelect01">Area</label>
                        <select class="form-select" id="inputGroupSelect01" formControlName="area">
                          <option selected>Seleccione el area</option>
                          <option *ngFor="let area of areas" [value]="area.codigo">{{area.Nombre}}</option>

                  </select>
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Salario</span>
                        <input type="number" formControlName="salario" formControlName="salario" maxlength="10" min="0" max="9999999999" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group mb-3">
                        <div class="form-check form-switch">
                            <input class="form-check-input" formControlName="estado" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
                            <label class="form-check-label" for="flexSwitchCheckChecked">Inactivo/Activo</label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal actualizar -->
<div class="modal fade" id="actualizar" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form [formGroup]="formAct" (submit)="Actualizar()">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Actualizacion de Usuarios</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Nombre</span>
                        <input type="text" formControlName="nombres" maxlength="50" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Apellido</span>
                        <input type="text" formControlName="apellidos" maxlength="50" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Fecha nacimiento</span>
                        <input class="form-control" formControlName="fechaNacimiento" type="date" value="2022-04-27" id="example-date-input" />
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">email</span>
                        <input type="email" formControlName="email" maxlength="50" formControlName="email" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">N° documento</span>
                        <input type="number" formControlName="numDoc" maxlength="7" min="0" max="9999999" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="inputGroupSelect01">Area</label>
                        <select class="form-select" id="inputGroupSelect01" formControlName="area">
                          <option *ngFor="let area of areas" [value]="area.codigo">{{area.Nombre}}</option>
                    </select>
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Salario</span>
                        <input type="number" formControlName="salario" maxlength="10" min="0" max="9999999999" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group mb-3">
                        <div class="form-check form-switch">
                            <input class="form-check-input" formControlName="estado" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
                            <label class="form-check-label" for="flexSwitchCheckChecked">Inactivo/Activo</label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>