<div class="container" style="text-align: right; padding-bottom: 20px;">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
      <i class="fa-solid fa-circle-plus"></i> Agregar Area
</button>

</div>

<div class="card" style="width: 67rem;">
    <div class="card-body">
        <h2 class="card-title">Areas</h2>

        <div *ngIf="cargando && info.length>0" class="fa-3x" style="color: grey; text-align: center;">
            <i class="fa-solid fa-circle-notch fa-spin fa-2x"></i>
            <h4>Cargando informacion...</h4>
        </div>

        <div *ngIf="!cargando && info.length===0" style="color: grey; text-align: center;">
            <h4>No hay registros.</h4>
        </div>
        <div class="table-responsive" *ngIf="getAreas">
            <table class="table">
                <thead style="color: grey;">
                    <tr>
                        <th scope="col">Codigo</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Lider</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Accion</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let area of info, let i=index">
                        <th>{{area.codigo}}</th>
                        <td>{{area.Nombre}}</td>
                        <td>{{area.lider}}</td>
                        <td>
                            <div *ngIf="area.estado">
                                <span class="badge bg-success">Activo</span>
                            </div>
                            <div *ngIf="!area.estado">
                                <span class="badge bg-danger">Inactivo</span>
                            </div>
                        </td>
                        <td>
                            <button (click)="form(area)" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#actualizar">
                        <i class="fa-solid fa-pen-to-square"></i>
                      </button>
                            <button type="button" (click)="borrarArea(area,i)" class="btn btn-danger">
                        <i class="fa-solid fa-trash-can"></i>
                      </button>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>


    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Creacion de Areas</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form (submit)="guardar()" [formGroup]="formAdd">
                <div class="modal-body">


                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Codigo</span>
                        <input type="number" maxlength="2" min="0" formControlName="codigo" name="codigo" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Nombre</span>
                        <input type="text" maxlength="50" class="form-control" formControlName="Nombre" name="nombre" aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Lider</span>
                        <input type="number" maxlength="7" min="0" formControlName="lider" name="lider" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group mb-3">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked formControlName="estado" name="estado">
                            <label class="form-check-label" for="flexSwitchCheckChecked">Inactivo/Activo</label>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- Modal actualizar -->
<div class="modal fade" id="actualizar" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Edicion de Areas</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <form (submit)="Actualizar()" [formGroup]="formAct">
                <div class="modal-body">


                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Codigo</span>
                        <input type="number" maxlength="2" max="99" min="0" formControlName="codigo" name="codigo" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Nombre</span>
                        <input type="text" maxlength="50" class="form-control" formControlName="Nombre" name="nombre" aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Lider</span>
                        <input type="number" maxlength="7" min="0" max="9999999" formControlName="lider" name="lider" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group mb-3">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked formControlName="estado" name="estado">
                            <label class="form-check-label" for="flexSwitchCheckChecked">Inactivo/Activo</label>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>