.btn-danger {
    background-color: transparent !important;
    color: gray !important;
    border-color: transparent !important;
}

.btn-warning {
    background-color: transparent !important;
    color: gray !important;
    border-color: transparent !important;
}