<div class="container">
    <h3>
        Cantidad de Usuarios
    </h3>
    <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Usuarios</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Activos</h6>
                    <h1>
                        {{contuser}}/{{infouser.length}}
                    </h1>

                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Usuarios</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Inactivos</h6>
                    <h1>
                        {{contInacyuser}}/{{infouser.length}}
                    </h1>

                </div>
            </div>
        </div>

    </div>
</div>

<div class="container" style="padding-top: 20px;">
    <h3>
        Cantidad de Areas
    </h3>
    <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Areas</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Activos</h6>
                    <h1>
                        {{cont}}/{{info.length}}
                    </h1>

                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Areas</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Inactivos</h6>
                    <h1>
                        {{contInacy}}/{{info.length}}
                    </h1>

                </div>
            </div>
        </div>

    </div>
</div>
<!-- <div class="container" style="padding-top: 20px;">
    <h3>
        Areas
    </h3>
    <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Areas</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Inactivos</h6>
                    <h1>
                        50/100
                    </h1>

                </div>
            </div>
        </div>
    </div>
</div> -->